<!-- <p>con-ofer works!</p> -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <app-header></app-header>
    <div class="container">
        <h2>Consultar Oferta</h2>
        
        <div class="mb-3 row">
            <label class="col-form-label col-2" for="idoferta">Id de la Oferta</label>
            <div class="col-10">
                <input type="number" id="idoferta" name="Id Oferta" placeholder="123456789" min="0" max="99999999999999999999999999999" maxlength="12" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-2" for="numprenue">Número Predial Nuevo</label>
            <div class="col-10">
                <input type="number" id="numprenue" name="numprenue" placeholder="158140000000000060399000000000" maxlength="30" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-2" for="numpreant">Número Predial Antiguo</label>
            <div class="col-10">
                <input type="number" id="numpreant" name="numpreant" placeholder="158140000000000060399000" maxlength="20" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-2" for="matrinmb">Matricula Inmobiliaria</label>
            <div class="col-10">
                <input type="text" id="matrinmb" name="matrinmb" placeholder="070-73096" maxlength="12" required>
            </div>
        </div>
        
        <div class="mb-3 row">
            <label class="col-form-label col-2" for="dep">Departamento</label>
            <div class="col-10">
                <select id="dep" name="dep">
                    <option value="05_ANTIOQUIA">05_ANTIOQUIA</option>
                    <option value="08_ATLÁNTICO">08_ATLÁNTICO</option>
                    <option value="11_BOGOTÁ, D.C.">11_BOGOTÁ, D.C.</option>
                </select>
            </div>
        </div>        

        <div class="mb-3 row">
            <label class="col-form-label col-2" for="mun">Municipio</label>
            <div class="col-10">
                <select id="mun" name="mun">
                    <option value="05001_MEDELLÍN">05001_MEDELLÍN</option>
                    <option value="05002_ABEJORRAL">05002_ABEJORRAL</option>
                    <option value="05004_ABRIAQUÍ">05004_ABRIAQUÍ</option>
                    <option value="05021_ALEJANDRÍA">05021_ALEJANDRÍA</option>
                    <option value="99773_CUMARIBO">99773_CUMARIBO</option>
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-2" for="feccapofer">Fecha de Captura Oferta</label>
            <div class="col-10">
                <input type="date" id="feccapofer" name="feccapofer"
                    value="2023-07-22"
                    min="2000-01-01" max="2030-12-31">
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-form-label col-2" for="dirrur">Dirección Rural</label>
            <div class="col-10">
                <input type="text" id="dirrur" name="dirrur" placeholder="Km 3 via Belen, Finca La Hermosa">
            </div>
        </div>
            

        <div class="mb-3 row">
            <label class="col-form-label col-2" for="dir">Dirección Urbana</label>
            <div class="col-10">
                <div class="direction">
                    <div>
                        <select id="dir01" name="dir01">
                            <option value="---">---</option>
                            <option value="CL">CL</option>
                            <option value="CR">CR</option>
                            <option value="DG">DG</option>
                            <option value="TR">TR</option>
                            <option value="AV CL">AV CL</option>
                            <option value="AV CR">AV CR</option>
                        </select>
                    </div>
    
                    <div>
                        <input type="number" id="dir02" name="dir02" placeholder="85" maxlength="3">
                    </div>
    
                    <div>
                        <select id="dir03" name="dir03">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="N">N</option>
                            <option value="O">O</option>
                            <option value="P">P</option>
                            <option value="Q">Q</option>
                            <option value="R">R</option>
                            <option value="T">T</option>
                            <option value="U">U</option>
                            <option value="V">V</option>
                            <option value="W">W</option>
                            <option value="X">X</option>
                            <option value="Y">Y</option>
                            <option value="Z">Z</option>
                        </select>
                    </div>
    
                    <div>
                        <input type="checkbox" name="dir04" id="dir04"><label for="dir04">Bis</label>
                    </div>
                
                    <div>
                        <select id="dir05" name="dir05">
                            <option value="Norte">Norte</option>
                            <option value="Sur">Sur</option>
                            <option value="Este">Este</option>
                            <option value="Oeste">Oeste</option>
                        </select>
                    </div>
    
                    <div>
                        <input type="number" id="dir06" name="dir06" placeholder="15" maxlength="3">
                    </div>
                
                    <div>
                        <select id="dir07" name="dir07">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="N">N</option>
                            <option value="O">O</option>
                            <option value="P">P</option>
                            <option value="Q">Q</option>
                            <option value="R">R</option>
                            <option value="T">T</option>
                            <option value="U">U</option>
                            <option value="V">V</option>
                            <option value="W">W</option>
                            <option value="X">X</option>
                            <option value="Y">Y</option>
                            <option value="Z">Z</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <!-- <p><input type="submit" value="Consultar"></p> -->
            <button class="btn btn-success btn-lg">Consultar</button>
        </div> 
            
    </div>

    <hr class="style-seven">

    <div>
        <table class="table table-borderless table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id Oferta</th>
                    <th scope="col">Matrícula Inmobiliaria</th>
                    <th scope="col">Opciones</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">123456789</th>
                    <td>300-5329325</td>
                    <td>
                        <button class="m-1 btn btn-primary btn-sm"><i class="fas fa-edit" style="font-size:12px;color:black;"></i> Editar </button>
                        <button class="m-1 btn btn-danger btn-sm"><i class="fas fa-trash-alt" style="font-size:12px;color:red;"></i> Eliminar </button>
                        <button class="m-1 btn btn-warning btn-sm"><i class="fas fa-clone" style="font-size:12px;color:rgb(30, 48, 80);"></i> Duplicar </button> 
                        <button class="m-1 btn btn-info btn-sm"><i class="fas fa-list-alt" style="font-size:12px;color:green;"></i> Inspeccionar </button>  
                    </td>
                    
                </tr>
                <tr>
                    <th scope="row">987654321</th>
                    <td>50C-1826372</td>
                    <td>
                        <button class="m-1 btn btn-primary btn-sm"><i class="fas fa-edit" style="font-size:12px;color:black;"></i> Editar </button>
                        <button class="m-1 btn btn-danger btn-sm"><i class="fas fa-trash-alt" style="font-size:12px;color:red;"></i> Eliminar </button>
                        <button class="m-1 btn btn-warning btn-sm"><i class="fas fa-clone" style="font-size:12px;color:rgb(30, 48, 80);"></i> Duplicar </button> 
                        <button class="m-1 btn btn-info btn-sm"><i class="fas fa-list-alt" style="font-size:12px;color:green;"></i> Inspeccionar </button>  
                    </td>
                    
                </tr>
                
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>

    </div> 

    <app-footer></app-footer>
</body>
</html>