<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form>
    <div class="container">
        <h2>Información Económica</h2>

            <label for="idoferta">Id de la Oferta</label>
            <!-- <div class="alerError" [hidden]="idoferta.valid || idoferta.pristine">
            El id es obligatorio
            </div> -->
            <input type="number" formControlName="idoferta" name="Id Oferta" />

            <label for="valofeini">Valor oferta inicial</label>
            <input type="number" id="valofeini" name="valofeini" placeholder="25000000" maxlength="15">

            <label for="porneg">Porcentaje de negociación (0-1)</label>
            <input type="number" id="porneg" name="porneg" placeholder="0.20" maxlength="3">

            <label for="valofefin">Oferta final</label>
            <input type="number" id="valofefin" name="valofefin" placeholder="20000000" maxlength="15">

            <label for="valterr">Valor terreno</label>
            <input type="number" id="Valor terreno" name="Valor terreno" placeholder="10000000" maxlength="15">

            <label for="valcm2">Valor construcción m2</label>
            <input type="number" id="valcm2" name="valcm2" placeholder="5000000" maxlength="15">

            <label for="valap">Valor área privada</label>
            <input type="number" id="valap" name="valap" placeholder="5000000" maxlength="15">

            <label for="valcul">Valor cultivo</label>
            <input type="number" id="valcul" name="valcul" placeholder="3000000" maxlength="15">

            <label for="valavacat">Valor avalúo catastral</label>
            <input type="number" id="valavacat" name="valavacat" placeholder="150000000" maxlength="15">

            <label for="valadmin">Valor administración:</label>
            <input type="number" id="valadmin" name="valadmin" placeholder="1000000" maxlength="15">

            <label for="valarrini">Valor arriendo inicial</label>
            <input type="number" id="valarrini" name="valarrini" placeholder="300000" maxlength="15">

            <label for="valarrfin">Valor arriendo final</label>
            <input type="number" id="valarrfin" name="valarrfin" placeholder="7000000" maxlength="15">

            <label for="valtbp">Valor terraza, balcón, patio</label>
            <input type="number" id="valtbp" name="valtbp" placeholder="200000" maxlength="15">

            <label for="valgar">Valor garajes</label>
            <input type="number" id="valgar" name="valgar" placeholder="11000000" maxlength="15">

            <label for="valdep">Valor depósito</label>
            <input type="number" id="valdep" name="valdep" placeholder="20000000" maxlength="15">

            <label for="valanex">Valor anexidades</label>
            <input type="number" id="valanex" name="valanex" placeholder="20000000" maxlength="15">
        
    </div>
    <div>
        <p><input type="submit" value="Enviar"></p>
    </div>
</form>
</body>
</html>