<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h2 class="row justify-content-center">
                  Registro Usuario - OIC
                </h2>
              </div>
            </div>

            <form
              class="signin-form"
              [formGroup]="formRegistro"
              (ngSubmit)="registrar()"
            >
              <div class="form-group mb-3">
                <label class="label" for="tiper">Tipo de Identificación</label>
                <div class="alerError" [hidden]="tiper.valid || tiper.pristine">
                  El Tipo de Identificación un campo obligatorio
                </div>
                <select
                  class="form-select"
                  formControlName="tiper"
                  name="tiper"
                  placeholder="---"
                >
                  <option value="CEDULA_CIUDADANIA">
                    CÉDULA DE CIUDADANÍA
                  </option>
                  <option value="CEDULA_EXTRANJERIA">
                    CÉDULA DE EXTRANJERÍA
                  </option>
                  <!-- <option value="TARJETA DE IDENTIDAD">TARJETA DE IDENTIDAD</option>
                                <option value="PERMISO ESPECIAL DE PERMANENCIA">PERMISO ESPECIAL DE PERMANENCIA</option> -->
                </select>
              </div>

              <div class="form-group mb-3">
                <label class="label" for="numiden"
                  >Numero de Identificación</label
                >
                <div
                  class="alerError"
                  [hidden]="numiden.valid || numiden.pristine"
                >
                  <div *ngIf="numiden.errors?.['required']">
                    El Numero de Identificación es obligatorio
                  </div>
                  <div
                    *ngIf="numiden.errors?.['min'] || numiden.errors?.['max']"
                  >
                    El Numero de Identificación debe de ser positivo y estar de
                    1 a 1000000000
                  </div>
                </div>

                <input
                  class="form-control"
                  type="number"
                  formControlName="numiden"
                  name="numiden"
                  placeholder="1016253461"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="nom">Nombre (s)</label>
                <div class="alerError" [hidden]="nom.valid || nom.pristine">
                  <div *ngIf="nom.errors?.['required']">
                    El nombre es obligatorio
                  </div>
                  <div *ngIf="nom.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                </div>
                <input
                  class="form-control"
                  type="text"
                  formControlName="nom"
                  name="nom"
                  placeholder="Juan Andres"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="apl">Apellido (s)</label>
                <div class="alerError" [hidden]="apl.valid || apl.pristine">
                  <div *ngIf="apl.errors?.['required']">
                    El apellido es obligatorio
                  </div>
                  <div *ngIf="apl.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                </div>
                <input
                  class="form-control"
                  type="text"
                  formControlName="apl"
                  name="apl"
                  placeholder="Rodriguez Borrero"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="email">Correo Electrónico</label>
                <div class="alerError" [hidden]="email.valid || email.pristine">
                  <div *ngIf="email.errors?.['required']">
                    El correo del responsable de la oferta es obligatorio
                  </div>
                  <div *ngIf="email.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                  <div *ngIf="formRegistro.controls['email'].hasError('email')">
                    Ingrese un correo electrónico valido.
                  </div>
                </div>

                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                  name="email"
                  placeholder="juan.rodriguez@igac.gov.co"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="tel">Número de contacto</label>
                <div class="alerError" [hidden]="tel.valid || tel.pristine">
                  <div *ngIf="tel.errors?.['required']">
                    El telefono es obligatorio
                  </div>
                  <div *ngIf="tel.errors?.['max']">
                    La cantidad de caracteres debe de ser menor a 15
                  </div>
                </div>
                <input
                  class="form-control"
                  type="tel"
                  formControlName="tel"
                  name="tel"
                  placeholder="3102352067"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="matrinmb">Área</label>
                <div class="alerError" [hidden]="area.valid || area.pristine">
                  El Área institucional es obligatoria
                </div>
                <div *ngIf="area.errors?.['maxlength']">
                  La cantidad de caracteres debe de ser menor a 50
                </div>

                <input
                  class="form-control"
                  type="text"
                  formControlName="area"
                  name="area"
                  placeholder="OIC"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="rol">Rol</label>
                <div class="alerError" [hidden]="rol.valid || rol.pristine">
                  El Rol institucional es obligatorio
                </div>
                <select
                  class="form-select"
                  id="rol"
                  formControlName="rol"
                  name="rol"
                >
                  <option value="1">Administrador</option>
                  <option value="2">Perito Validador</option>
                  <option value="3">Perito Valuador</option>
                </select>
              </div>

              <div class="form-group mb-3">
                <label class="label" for="contrasena">Contraseña</label>
                <div
                  class="alerError"
                  [hidden]="contrasena.valid || contrasena.pristine"
                >
                  <div *ngIf="contrasena.errors?.['required']">
                    La contraseña del responsable de la oferta es obligatorio
                  </div>
                  <div *ngIf="contrasena.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                  <div *ngIf="contrasena.errors?.['minlength']">
                    La cantidad de caracteres debe de ser mayor a 8 caracteres
                  </div>
                  <div
                    *ngIf="
                      formRegistro.controls['contrasena'].hasError('hasNumber')
                    "
                  >
                    Las contraseñas deben de tener al menos un número.
                  </div>
                  <div
                    *ngIf="
                      formRegistro.controls['contrasena'].hasError(
                        'hasCapitalCase'
                      )
                    "
                  >
                    Las contraseñas deben de tener al menos una letra en
                    mayúscula.
                  </div>
                  <div
                    *ngIf="
                      formRegistro.controls['contrasena'].hasError(
                        'hasSmallCase'
                      )
                    "
                  >
                    Las contraseñas deben de tener al menos una letra en
                    minúscula.
                  </div>
                  <div
                    *ngIf="
                      formRegistro.controls['contrasena'].hasError(
                        'hasSpecialCharacters'
                      )
                    "
                  >
                    Las contraseñas deben de tener al menos un caracter especial
                    Ejemplo:*+,.
                  </div>
                </div>

                <input
                  class="form-control"
                  type="password"
                  formControlName="contrasena"
                  name="contrasena"
                  placeholder="contraseña"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="valpassword"
                  >Validar Contraseña</label
                >
                <div
                  class="alerError"
                  [hidden]="valcontrasena.valid || valcontrasena.pristine"
                >
                  <div *ngIf="valcontrasena.errors?.['required']">
                    La validación de contraseña es obligatoria
                  </div>
                  <div *ngIf="valcontrasena.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                  <div
                    *ngIf="
                      formRegistro.controls['valcontrasena'].hasError(
                        'NoPassswordMatch'
                      )
                    "
                  >
                    Las contraseñas digitadas deben de ser iguales.
                  </div>
                </div>

                <input
                  class="form-control"
                  type="password"
                  formControlName="valcontrasena"
                  name="valcontrasena"
                  placeholder="contraseña"
                />
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary rounded submit px-3"
                  [disabled]="formRegistro.invalid"
                >
                  Registrarme
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
