<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<header>
  <div class="col">
  <!-- <div class="mb-3 col-2 row mt-4"> -->
    <img class="img-igac img-fluid " src="assets/igac_1.jpeg" alt="igac" />
  </div>

  <!-- <h1 class="mb-3 col-10 row" class="text-center"> -->
  <div class="col-9 text-center">
    <h1>Módulo de Ofertas Inmobiliarias - OIC</h1>
  </div> 

  <div class="col">
  <!-- <div class="mb-3 col-2 row mt-4"> -->
    <img class="img-oic img-fluid " src="assets/igac_oic_3.png" alt="ObservatorioInmobiliarioCatastral" />
  </div>
</header>
<!-- <hr _ngcontent-fyk-c9="" style="width: 100%" /> -->

<ul class="text-center nav nav-tabs">
  <li class="col nav-item">
    <a class="nav-link active" href="#">Usuario</a>
  </li>
  <li class="col nav-item">
    <a class="w-50 text-right" routerLink="#"
          >{{ personaLogin.nombres }} {{ personaLogin.apellidos }}</a
        >
  </li>
  <li class="col nav-item">
    <a class="nav-link" routerLink="../Login">Cerrar sesión</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> -->
</ul>

<!-- <div class="container text-center">
  <div class="row">
    <div class="col">
      
      <div><span class="my-2 my-sm-0">Bienvenido</span></div>

    </div>
    <div class="col">
      
      <div>
        <a class="w-50 text-right" routerLink="#"
          >{{ personaLogin.nombres }} {{ personaLogin.apellidos }}</a
        >
      </div>

    </div>
    <div class="col">
      
      <div>
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          (click)="cerrarSesion()"
        >
          Cerrar sesión
        </button>
      </div>

    </div>
  </div>
</div> -->

<!-- <div class="row text-center">
  <div class="col-5"></div>
  <div class="col-2"><span class="my-2 my-sm-0">Bienvenido</span></div>
  <div class="col-2">
    <a class="w-50 text-right" routerLink="#"
      >{{ personaLogin.nombres }} {{ personaLogin.apellidos }}</a
    >
  </div>
  <div class="col-3">
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      (click)="cerrarSesion()"
    >
      Cerrar sesión
    </button>
  </div>
</div> 

<hr _ngcontent-fyk-c9="" style="width: 100%" /> -->
