<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<header>
  <div class="col">
    <img class="img-igac img-fluid " src="assets/igac_1.jpeg" alt="igac" />
  </div>

  <div class="col-9 text-center">
    <h1>Módulo de Ofertas Inmobiliarias - OIC</h1>
  </div> 

  <div class="col">
    <img class="img-oic img-fluid " src="assets/igac_oic_3.png" alt="ObservatorioInmobiliarioCatastral" />
  </div>
</header>


<ul class="text-center nav nav-tabs ">
  <li class="col nav-item">
    <a class="nav-link text-dark" href="#">Usuario</a>
  </li>
  <li class="col nav-item">
    <a class="nav-link text-dark">{{ personaLogin.nombres }} {{ personaLogin.apellidos }}</a>
  </li>
  <li class="col nav-item">
    <a class="nav-link text-warning" routerLink="../Login">Cerrar sesión</a>
  </li>
</ul>

<br>