<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<header>
  <div>
    <img
      src="https://www.igac.gov.co/sites/igac.gov.co/files/igac_0.jpg"
      alt="igac"
    />
  </div>
  <h1>Módulo de Ofertas Inmobiliarias - OIC</h1>
  <div>
    <img
      src="https://i.ibb.co/mqWmXhz/imagen-2023-05-13-190122169.png"
      alt="ObservatorioInmobiliarioCatastral"
    />
  </div>
</header>
<hr _ngcontent-fyk-c9="" style="width: 100%" />

<div>
  <label for="btn-nav" class="btn-nav"><i class="fas fa-bars"></i> Menu</label>
  <input type="checkbox" id="btn-nav" />

  <nav class="navigation">
    <!-- <ol>Menu</ol> -->
    <a routerLink="HomeOfertas" routerLinkActive="active">Home ofertas</a>

    <details>
      <summary>Crear oferta</summary>
      <div *ngIf="valrelacionesService.vistasHabilitar.noVistaIdenPreOfer">
        <a routerLink="CrearOferta/IdenPre" routerLinkActive="active"
          >Identificación predio</a
        >
      </div>
      <div *ngIf="valrelacionesService.vistasHabilitar.noVistaLocOfer">
        <a routerLink="CrearOferta/LocPre" routerLinkActive="active"
          >Localización predio</a
        >
      </div>
      <div *ngIf="valrelacionesService.vistasHabilitar.noVistaDatGen">
        <a routerLink="CrearOferta/DatGen" routerLinkActive="active"
          >Datos generales</a
        >
      </div>
      <div *ngIf="valrelacionesService.vistasHabilitar.noVistaInfoFisi">
        <a routerLink="CrearOferta/InfFis" routerLinkActive="active"
          >Información física</a
        >
      </div>
      <div *ngIf="valrelacionesService.vistasHabilitar.noVistaInfoEnoco">
        <a routerLink="CrearOferta/InfEco" routerLinkActive="active"
          >Información económica</a
        >
      </div>
      <div *ngIf="valrelacionesService.vistasHabilitar.noVistaInfoFuen">
        <a routerLink="CrearOferta/InfFue" routerLinkActive="active"
          >Información fuente</a
        >
      </div>
    </details>

    <a routerLink="ConOfer" routerLinkActive="active">Consultar oferta</a>

    <details>
      <summary>Modificar oferta</summary>
      <a routerLink="ModOfer/IdenPre" routerLinkActive="active"
        >Identificación predio</a
      >
      <a routerLink="ModOfer/LocPre" routerLinkActive="active"
        >Localización predio</a
      >
      <a routerLink="ModOfer/DatGen" routerLinkActive="active"
        >Datos generales</a
      >
      <a routerLink="ModOfer/InfFis" routerLinkActive="active"
        >Información física</a
      >
      <a routerLink="ModOfer/InfEco" routerLinkActive="active"
        >Información económica</a
      >
      <a routerLink="ModOfer/InfFue" routerLinkActive="active"
        >Información fuente</a
      >
    </details>

    <!-- <a routerLink="ModPre" routerLinkActive="active">Modificar oferta</a> -->

    <details>
      <summary>Validar oferta</summary>
      <a routerLink="ValOfer/IdenPre" routerLinkActive="active"
        >Identificación predio</a
      >
      <a routerLink="ValOfer/LocPre" routerLinkActive="active"
        >Localización predio</a
      >
      <a routerLink="ValOfer/DatGen" routerLinkActive="active"
        >Datos generales</a
      >
      <a routerLink="ValOfer/InfFis" routerLinkActive="active"
        >Información física</a
      >
      <a routerLink="ValOfer/InfEco" routerLinkActive="active"
        >Información económica</a
      >
      <a routerLink="ValOfer/InfFue" routerLinkActive="active"
        >Información fuente</a
      >
    </details>

    <!-- <a routerLink="ValPre" routerLinkActive="active">Validar oferta</a> -->
  </nav>

  <!-- <nav>
    <ul class="navigation">
      <li>
        <a routerLink="HomeOfertas" routerLinkActive="active">Home ofertas</a>
      </li>
      <li>
        <a routerLinkActive="active">Crear oferta</a>

        <ul class="navigation">
          <li>
            <a routerLink="IdenPre" routerLinkActive="active"
              >Identificación predio</a
            >
          </li>
          <li>
            <a routerLink="LocPre" routerLinkActive="active"
              >Localización predio</a
            >
          </li>
          <li>
            <a routerLink="DatGen" routerLinkActive="active">Datos generales</a>
          </li>
          <li>
            <a routerLink="InfFis" routerLinkActive="active"
              >Información física</a
            >
          </li>
          <li>
            <a routerLink="InfEco" routerLinkActive="active"
              >Información económica</a
            >
          </li>
          <li>
            <a routerLink="InfFue" routerLinkActive="active"
              >Información fuente</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="ConPre" routerLinkActive="active"
          >Consultar oferta</a>
      </li>
      <li>
        <a routerLink="ModPre" routerLinkActive="active"
        >Modificar oferta</a>
      </li>
      <li>
        <a routerLink="ValPre" routerLinkActive="active"
        >Validar oferta</a>
      </li>
    </ul>
  </nav>
</div> -->

  <router-outlet></router-outlet>

  <hr _ngcontent-fyk-c9="" style="width: 100%" />
  <footer>
    <div><p>Versión 0.0.1</p></div>
    <div><p>Última Actualización 20/06/2023</p></div>
    <div><p>Copyright 1999 - 2023</p></div>
    <div><p>Todos los derechos reservados</p></div>
  </footer>

  <!-- <app-iden-pre></app-iden-pre>
<app-loc-pre></app-loc-pre>
<app-dat-gen></app-dat-gen>
<app-inf-fis></app-inf-fis>
<app-inf-eco></app-inf-eco>
<app-inf-fue></app-inf-fue> -->
</div>
