<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h2 class="row justify-content-center">
                  Recuperar Contraseña - OIC
                </h2>
              </div>
            </div>

            <form
              class="signin-form"
              [formGroup]="formContrasena"
              (ngSubmit)="recuperar(formContrasena.value)"
            >
              <div class="form-group mb-3">
                <label class="label" for="email">Correo Electrónico</label>
                <div class="alerError" [hidden]="email.valid || email.pristine">
                  <div *ngIf="email.errors?.['required']">
                    El correo del responsable de la oferta es obligatorio
                  </div>
                  <div *ngIf="email.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                  <div
                    *ngIf="formContrasena.controls['email'].hasError('email')"
                  >
                    Ingrese un correo electrónico valido.
                  </div>
                </div>

                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                  name="email"
                  placeholder="juan.rodriguez@igac.gov.co"
                />
              </div>
              <!--
              <div class="form-group mb-3">
                <label class="label" for="password">Contraseña</label>
                <div
                  class="alerError"
                  [hidden]="password.valid || password.pristine"
                >
                  <div *ngIf="password.errors?.['required']">
                    La contraseña del responsable de la oferta es obligatorio
                  </div>
                  <div *ngIf="password.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                </div>

                <input
                  class="form-control"
                  type="password"
                  formControlName="password"
                  name="password"
                  placeholder="contraseña"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="valpassword"
                  >Validar Contraseña</label
                >
                <div
                  class="alerError"
                  [hidden]="valpassword.valid || valpassword.pristine"
                >
                  <div *ngIf="valpassword.errors?.['required']">
                    La validación de contraseña es obligatoria
                  </div>
                  <div *ngIf="valpassword.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                </div>

                <input
                  class="form-control"
                  type="valpassword"
                  formControlName="valpassword"
                  name="valpassword"
                  placeholder="contraseña"
                />
              </div> -->

              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary rounded submit px-3"
                  [disabled]="formContrasena.invalid"
                >
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
