<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form>
    <div class="container">
        <h2>Información Física</h2>

            <label for="idoferta">Id de la Oferta</label>
            <!-- <div class="alerError" [hidden]="idoferta.valid || idoferta.pristine">
            El id es obligatorio
            </div> -->
            <input type="number" formControlName="idoferta" name="Id Oferta" />
        
            <label for="atm2">Área terreno m2</label>
            <input type="number" id="atm2" name="atm2" placeholder="2500" maxlength="5">

            <label for="atha">Área terreno ha</label>
            <input type="number" id="atha" name="atha" placeholder="1500" maxlength="10">

            <label for="acm2">Área construcción m2</label>
            <input type="number" id="acm2" name="acm2" placeholder="1203" maxlength="5">

            <label for="apm2">Área privada m2</label>
            <input type="number" id="apm2" name="apm2" placeholder="50" maxlength="10">

            <label for="apha">Área cultivo ha</label>
            <input type="number" id="apha" name="apha" placeholder="25" maxlength="10">

            <label for="ac">Año de construcción</label>
            <input type="number" id="ac" name="ac" placeholder="1993" maxlength="10">

            <label for="conser">Conservación</label>
            <select id="conse" name="conse" placeholder="---">
                <option value="BUENO">BUENO</option>
                <option value="REGULAR">REGULAR</option>
                <option value="MALO">MALO</option>
                <option value="NO CLASIFICADO">NO CLASIFICADO</option>
            </select>

            <label for="desecon">Destinación económica</label>
            <select id="desecon" name="desecon" placeholder="---">
                <option value="Acuícola">Acuícola</option>
                <option value="agrícola">Agrícola</option>
                <option value="agroindustrial agroforestal">Agroindustrial agroforestal</option>
                <option value="comercial">Comercial</option>
                <option value="cultural">Cultural</option>
                <option value="educativo">Educativo</option>
                <option value="forestal">Forestal</option>
                <option value="habitacional">Habitacional</option>
                <option value="industrial">Industrial</option>
                <option value="infraestructura asociada producción agropecuaria">Infraestructura asociada producción agropecuaria</option>
                <option value="infraestructura hidráulica">Infraestructura hidráulica</option>
                <option value="infraestructura saneamiento básico">Infraestructura saneamiento básico</option>
                <option value="infraestructura seguridad">Infraestructura seguridad</option>
                <option value="infraestructura transporte">Infraestructura transporte</option>
                <option value="institucional">Institucional</option>
                <option value="minería hidrocarburos">Minería hidrocarburos</option>
                <option value="lote urbanizable no urbanizado">Lote urbanizable no urbanizado</option>
                <option value="lote urbanizado no construido">Lote urbanizado no construido</option>
                <option value="lote no urbanizable">Lote no urbanizable</option>
                <option value="pecuario">Pecuario</option>
                <option value="recreacional">Recreacional</option>
                <option value="religioso">Religioso</option>
                <option value="salubridad">Salubridad</option>
                <option value="servicios funerarios">Servicios funerarios</option>
                <option value="uso público">Uso público</option>
            </select>

            <label for="altedif">Altura edificio</label>
            <select id="altedif" name="altedif" placeholder="2 Meses">
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>

            <label for="numpis">Número de pisos</label>
            <input type="number" id="numpis" name="numpis" placeholder="3" maxlength="10">    
    </div>
    <div>
        <p><input type="submit" value="Enviar"></p>
    </div>
</form>
</body>
</html>