<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h2 class="row justify-content-center">
                  Iniciar sesión - OIC Ofertas
                </h2>
              </div>
            </div>

            <form
              class="signin-form"
              [formGroup]="formLogin"
              (ngSubmit)="ingresar(formLogin.value)"
            >
              <div class="form-group mb-3">
                <label class="label" for="email">Correo Electrónico</label>
                <div class="alerError" [hidden]="email.valid || email.pristine">
                  <!-- <div *ngIf="email.errors?.['required']">
                    El correo del responsable de la oferta es obligatorio
                  </div> -->
                  <div *ngIf="email.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                  <div *ngIf="formLogin.controls['email'].hasError('email')">
                    Ingrese un correo electrónico valido.
                  </div>
                </div>

                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                  name="email"
                  placeholder="juan.rodriguez@igac.gov.co"
                />
              </div>

              <div class="form-group mb-3">
                <label class="label" for="contrasena">Contraseña</label>
                <div
                  class="alerError"
                  [hidden]="contrasena.valid || contrasena.pristine"
                >
                  <!-- <div *ngIf="contrasena.errors?.['required']">
                    La contraseña del responsable de la oferta es obligatorio
                  </div> -->
                  <div *ngIf="contrasena.errors?.['maxlength']">
                    La cantidad de caracteres debe de ser menor a 50
                  </div>
                </div>

                <input
                  class="form-control"
                  type="password"
                  formControlName="contrasena"
                  name="contrasena"
                  placeholder="contraseña"
                />
              </div>

              <div *ngIf="vistaErrorLogin">
                {{ mensajeError }}
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary rounded submit px-3"
                  [disabled]="formLogin.invalid"
                >
                  Ingresar
                </button>
              </div>

              <div class="form-group d-md-flex">
                <div class="w-100 text-center">
                  <a routerLink="registro">Registrarse</a>
                </div>

                <div class="w-100 text-md-center">
                  <a routerLink="contrasena">¿Olvido su contraseña?</a>
                </div>

                <div class="w-100 text-md-center">
                  <a routerLink="cambiocontrasena">Cambio de contraseña</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
