<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <app-header></app-header>
    <app-nav></app-nav>
    <form [formGroup]="formUserLoca" (ngSubmit)="procesar()">
      <div class="container">
        <h2>Localización del Predio</h2>

        <label for="idoferta">Id de la Oferta</label>
        <div class="alerError" [hidden]="idoferta.valid || idoferta.pristine">
          El id es obligatorio
        </div>
        <input type="number" formControlName="idoferta" name="Id Oferta" />

        <label for="dep">Departamento</label>
        <div class="alerError" *ngIf="dep.errors?.['required']">
          El tipo de predio es obligatorio
        </div>
        <select
          formControlName="dep"
          name="dep"
          (ngModelChange)="handleChange($event)"
        >
          <option *ngFor="let dto of deptos" [value]="dto">
            {{ dto }}
          </option>
        </select>

        <label for="mun">Municipio</label>
        <div class="alerError" *ngIf="mun.errors?.['required']">
          El municipio es un campo obligatorio
        </div>
        <select formControlName="mun" name="mun">
          <option *ngFor="let mpio of mpios" [value]="mpio">
            {{ mpio }}
          </option>
        </select>

        <div *ngIf="noVistaDir">
          <label for="nombar">Nombre Barrio</label>
          <div class="alerError" [hidden]="nombar.valid || nombar.pristine">
            <div *ngIf="nombar.errors?.['maxlength']">
              La cantidad de caracteres debe de ser inferior a 30
            </div>
          </div>
          <input type="text" formControlName="nombar" name="nombar" />
        </div>

        <label for="nomver">Nombre Vereda</label>
        <div class="alerError" [hidden]="nomver.valid || nomver.pristine">
          <div *ngIf="nomver.errors?.['maxlength']">
            La cantidad de caracteres debe de ser inferior a 30
          </div>
        </div>
        <input type="text" formControlName="nomver" name="nomver" />
        <!-- <label for="lat">Mapa</label> -->

        <label for="lat">Latitud</label>
        <div class="alerError" *ngIf="lat.errors?.['required']">
          La latitud es obligatoria y solo se permiten digitos (0-9)
        </div>
        <div class="alerError" [hidden]="lat.valid || lat.pristine">
          <div *ngIf="lat.errors?.['max']">
            La latitud no puede ser mayor de 15
          </div>
          <div *ngIf="lat.errors?.['min']">
            La latitud no puede ser menor de -5
          </div>
          <div *ngIf="lat.errors?.['maxlength']">
            Se permiten solo 30 caracteres numericos incluyendo el punto decimal
          </div>
        </div>
        <input
          type="number"
          formControlName="lat"
          name="lat"
          step="0.00000001"
        />

        <label for="lon">Longitud</label>
        <div class="alerError" *ngIf="lon.errors?.['required']">
          La longitud es obligatoria y solo se permiten digitos (0-9)
        </div>
        <div class="alerError" [hidden]="lon.valid || lon.pristine">
          <div *ngIf="lon.errors?.['max']">
            La longitud no puede ser mayor de -65
          </div>
          <div *ngIf="lon.errors?.['min']">
            La longitud no puede ser menor de -83
          </div>
          <div *ngIf="lon.errors?.['maxlength']">
            Se permiten solo 12 caracteres numericos incluyendo el punto decimal
          </div>
        </div>
        <input
          type="number"
          formControlName="lon"
          name="lon"
          step="0.00000001"
        />

        <label for="direccion">Dirección almacenada </label>
        <div class="alerError" [hidden]="direccion.valid || direccion.pristine">
          <div *ngIf="direccion.errors?.['maxlength']">
            La cantidad de caracteres debe de ser inferior a 100
          </div>
        </div>
        <input type="text" formControlName="direccion" name="direccion" />

        <div *ngIf="noVistaDir">
          <label for="dir">Dirección Urbana (si desea actualizar)</label>

          <div class="alerError" [hidden]="dir01.valid || dir01.pristine"></div>
          <div class="alerError" [hidden]="dir02.valid || dir02.pristine">
            <div *ngIf="dir02.errors?.['min'] || dir02.errors?.['max']">
              El número de la vía principal debe de estar entre 0 y 1000
            </div>
          </div>
          <div class="alerError" [hidden]="dir06.valid || dir06.pristine">
            <div *ngIf="dir06.errors?.['min'] || dir06.errors?.['max']">
              El número de la vía secundaria debe de estar entre 0 y 1000
            </div>
          </div>

          <div class="direction">
            <div>
              <select formControlName="dir01" name="dir01">
                <option value="CL">CL</option>
                <option value="CR">CR</option>
                <option value="DG">DG</option>
                <option value="TR">TR</option>
                <option value="AV CL">AV CL</option>
                <option value="AV CR">AV CR</option>
              </select>
            </div>

            <div>
              <input type="number" formControlName="dir02" name="dir02" />
            </div>

            <div>
              <select formControlName="dir03" name="dir03">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="W">W</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
              </select>
            </div>
            <div>
              <input
                type="checkbox"
                name="dir04"
                formControlName="dir04"
              /><label for="dir04">Bis</label>
            </div>
            <div>
              <select formControlName="dir05" name="dir05">
                <option value="Norte">Norte</option>
                <option value="Sur">Sur</option>
                <option value="Este">Este</option>
                <option value="Oeste">Oeste</option>
              </select>
            </div>
            <div>
              <input type="number" formControlName="dir06" name="dir06" />
            </div>
            <div>
              <select formControlName="dir07" name="dir07">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="W">W</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
              </select>
            </div>
            <div>
              <input
                type="number"
                formControlName="dir08"
                name="dir08"
                maxlength="3"
              />
            </div>
          </div>
        </div>

        <div *ngIf="!noVistaDir">
          <label for="dirrur">Dirección Rural (si desea actualizar)</label>
          <div class="alerError" [hidden]="dirrur.valid || dirrur.pristine">
            <div *ngIf="dirrur.errors?.['required']">
              La Dirección Rural es obligatorio
            </div>
            <div *ngIf="dirrur.errors?.['maxlength']">
              La cantidad de caracteres debe de ser inferior a 100
            </div>
          </div>
          <input type="text" formControlName="dirrur" name="dirrur" />
        </div>
      </div>

      <div class="row">
        <h2 class="col-4">
          <button class="buttonEnviar" routerLink="../IdenPre">Anterior</button>
        </h2>
        <h2 class="col-4">
          <button
            class="buttonEnviar"
            [disabled]="
              formUserLoca.invalid || editar.idenPredio.id_oferta == undefined
            "
          >
            Guardar
          </button>
        </h2>
        <h2 class="col-4">
          <button
            class="buttonEnviar"
            [disabled]="!editar.vistasHabilitar.noVistaDatGen"
            routerLink="../DatGen"
          >
            Siguiente
          </button>
        </h2>
      </div>
    </form>
    <app-footer></app-footer>
  </body>
</html>
