<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <app-header></app-header>
    <form [formGroup]="formUserFue" (ngSubmit)="procesar()">
      <div class="container">
        <h2>Información Fuente</h2>

        <label for="idoferta">Id de la Oferta</label>
        <div class="alerError" [hidden]="idoferta.valid || idoferta.pristine">
          El id es obligatorio
        </div>
        <input type="number" formControlName="idoferta" name="Id Oferta" />

        <label for="nom">Nombre</label>
        <div class="alerError" [hidden]="nom.valid || nom.pristine">
          <div *ngIf="nom.errors?.['required']">El nombre es obligatorio</div>
          <div *ngIf="nom.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 50
          </div>
        </div>
        <input
          type="text"
          formControlName="nom"
          name="nom"
          placeholder="Juan Rodriguez"
        />

        <label for="tel">Número de contacto</label>
        <div class="alerError" [hidden]="tel.valid || tel.pristine">
          <div *ngIf="tel.errors?.['required']">El telefono es obligatorio</div>
          <div *ngIf="tel.errors?.['max']">
            La cantidad de caracteres debe de ser menor a 15
          </div>
        </div>
        <input
          type="tel"
          formControlName="tel"
          name="tel"
          placeholder="3102352067"
        />

        <label for="url">Url</label>
        <div class="alerError" [hidden]="url.valid || url.pristine">
          <div *ngIf="url.errors?.['required']">
            La URL de la oferta es obligatoria
          </div>
          <div *ngIf="url.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 500
          </div>
        </div>
        <input
          type="url"
          formControlName="url"
          name="url"
          placeholder="https://www.fincaraiz.com.co/inmueble/"
        />

        <label for="myfile">Fotos (Carpeta Comprimida)</label>
        <p>
          <input type="file" name="Seleccionar-fotos" />
        </p>
        <!-- <p>
                <input type="submit" value="Adjuntar">
            </p> -->

        <label for="myfile">Documentos (Carpeta Comprimida)</label>
        <p>
          <input type="file" name="Seleccionar-documentos" />
        </p>
        <!-- <p>
                <input type="submit" value="Adjuntar">
            </p> -->

        <label for="obs1">Observaciones</label>
        <div class="alerError" [hidden]="obs1.valid || obs1.pristine">
          <div *ngIf="obs1.errors?.['required']">
            La observación de la oferta es obligatoria
          </div>
          <div *ngIf="obs1.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 4000
          </div>
        </div>
        <textarea
          formControlName="obs1"
          name="obs1"
          placeholder="Escribir Observación (Menor a 4000 Caracteres)"
          style="height: 200px"
        ></textarea>

        <h4>Información Administrativa</h4>

        <label for="areresofer">Área responsable oferta</label>
        <div
          class="alerError"
          [hidden]="areresofer.valid || areresofer.pristine"
        >
          <div *ngIf="areresofer.errors?.['required']">
            El área responsable de la oferta es obligatoria
          </div>
          <div *ngIf="areresofer.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 100
          </div>
        </div>
        <input
          type="text"
          formControlName="areresofer"
          name="areresofer"
          placeholder="Avaluos"
        />

        <label for="nomresofer">Nombre responsable oferta</label>
        <div
          class="alerError"
          [hidden]="nomresofer.valid || nomresofer.pristine"
        >
          <div *ngIf="nomresofer.errors?.['required']">
            El área responsable de la oferta es obligatoria
          </div>
          <div *ngIf="nomresofer.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 50
          </div>
        </div>
        <input
          type="text"
          formControlName="nomresofer"
          name="nomresofer"
          placeholder="Tulio Martinez"
        />

        <label for="email">Email:</label>
        <div class="alerError" [hidden]="email.valid || email.pristine">
          <div *ngIf="email.errors?.['required']">
            El correo del responsable de la oferta es obligatorio
          </div>
          <div *ngIf="email.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 50
          </div>
        </div>
        <p>
          <input
            type="email"
            formControlName="email"
            name="email"
            placeholder="tulio.martinez@igac.gov.co"
          />
        </p>

        <label for="obs2">Observaciones</label>
        <div class="alerError" [hidden]="obs2.valid || obs2.pristine">
          <div *ngIf="obs2.errors?.['required']">
            Incluir una observación es obligatorio
          </div>
          <div *ngIf="obs2.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 1000
          </div>
        </div>
        <textarea
          formControlName="obs2"
          name="obs2"
          placeholder="Escribir Observación (Menor a 1000 Caracteres)"
          style="height: 200px"
        ></textarea>

        <h4>Información Persona Responsable Captura</h4>

        <label for="revperres">Revision persona responsable</label>
        <div
          class="alerError"
          [hidden]="revperres.valid || revperres.pristine"
        >
          <div *ngIf="revperres.errors?.['required']">
            La Revision persona responsable de la oferta es obligatoria
          </div>
          <div *ngIf="revperres.errors?.['maxlength']">
            La Revision persona responsable debe de ser menor a 50
          </div>
        </div>
        <input
          type="text"
          formControlName="revperres"
          name="revperres"
          placeholder="Ofelio Lizarazo"
        />

        <label for="revareres">Revision area responsable</label>
        <div
          class="alerError"
          [hidden]="revareres.valid || revareres.pristine"
        >
          <div *ngIf="revareres.errors?.['required']">
            La Revision area responsable de la oferta es obligatoria
          </div>
          <div *ngIf="revareres.errors?.['maxlength']">
            La Revision area responsable debe de ser menor a 50
          </div>
        </div>
        <input
          type="text"
          formControlName="revareres"
          name="revareres"
          placeholder="GIT Avaluos"
        />

        <label for="tipercap">Tipo de Identificación persona captura</label>
        <div class="alerError" [hidden]="tipercap.valid || tipercap.pristine">
            Los Servicios publicos son un campo obligatorio
        </div>
        <select formControlName="tipercap" name="tipercap" placeholder="---">
            <option value="CÉDULA DE CIUDADANÍA">CÉDULA DE CIUDADANÍA</option>
            <option value="CÉDULA DE EXTRANJERÍA">CÉDULA DE EXTRANJERÍA</option>
            <option value="TARJETA DE IDENTIDAD">TARJETA DE IDENTIDAD</option>
            <option value="PERMISO ESPECIAL DE PERMANENCIA">PERMISO ESPECIAL DE PERMANENCIA</option>
        </select>
      
        <label for="numidencap">Numero de Identificación persona captura</label>
        <div class="alerError" [hidden]="numidencap.valid || numidencap.pristine">
            <div *ngIf="numidencap.errors?.['required']">
            El Numero de Identificación es obligatorio
            </div>
            <div *ngIf="numidencap.errors?.['min'] || numidencap.errors?.['max']">
            El Numero de Identificación debe de ser positivo y estar de 1 a 1000000000
            </div>
        </div>
        <input
            type="number"
            formControlName="numidencap"
            name="numidencap"
            placeholder="1016253461"
        />

        <h4>Información Persona Responsable Verificacion</h4>

        <label for="tiperver">Tipo de Identificación persona verifica</label>
        <div class="alerError" [hidden]="tiperver.valid || tiperver.pristine">
            Los Servicios publicos son un campo obligatorio
        </div>
        <select formControlName="tiperver" name="tiperver" placeholder="---">
            <option value="CÉDULA DE CIUDADANÍA">CÉDULA DE CIUDADANÍA</option>
            <option value="CÉDULA DE EXTRANJERÍA">CÉDULA DE EXTRANJERÍA</option>
            <option value="TARJETA DE IDENTIDAD">TARJETA DE IDENTIDAD</option>
            <option value="PERMISO ESPECIAL DE PERMANENCIA">PERMISO ESPECIAL DE PERMANENCIA</option>
        </select>
      
        <label for="numidenver">Numero de Identificación persona verifica</label>
        <div class="alerError" [hidden]="numidenver.valid || numidenver.pristine">
            <div *ngIf="numidenver.errors?.['required']">
            El Numero de Identificación es obligatorio
            </div>
            <div *ngIf="numidenver.errors?.['min'] || numidenver.errors?.['max']">
            El Numero de Identificación debe de ser positivo y estar de 1 a 1000000000
            </div>
        </div>
        <input
            type="number"
            formControlName="numidenver"
            name="numidenver"
            placeholder="1011461253"
        />

        <label for="obs3">Observaciones</label>
        <div class="alerError" [hidden]="obs3.valid || obs3.pristine">
          <div *ngIf="obs3.errors?.['required']">
            Incluir una observación es obligatorio
          </div>
          <div *ngIf="obs3.errors?.['maxlength']">
            La cantidad de caracteres debe de ser menor a 1000
          </div>
        </div>
        <textarea
          formControlName="obs3"
          name="obs3"
          placeholder="Escribir Observación (Menor a 1000 Caracteres)"
          style="height: 200px"
        ></textarea>
      
      </div>


      <div class="row">
        <h2 class="col-4">
            <button class="btn btn-primary btn-lg">Anterior</button>
        </h2>
        <h2 class="col-4">
            <button class="btn btn-warning btn-lg" [disabled]="formUserFue.invalid">Guardar</button>
        </h2>
        <h2 class="col-4">
            <button class="btn btn-outline-success btn-lg" [disabled]="true">Enviar y terminar</button>
        </h2>
      </div>
    </form>
    <app-footer></app-footer>
  </body>
</html>
